<!DOCTYPE html>
<html>
	<head>
		  <title>Главная</title>

	</head>
	<body>
		<h1> главная </h1>
		<p><a href="/widget">Перейти к виджету</a></p>
		<p><a href="/api/media">Получить json от API Инстаграма</a></p>
		<p><a href="/api/widget">Получить json для виджета</a></p>
	</body>
</html>